﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="workers.js"></script>
    <title>Scale Test</title>
</head>
<body ng-app="ScaleApp" ng-controller="WorkersController as server">
    <div class="container">
        <div class="row">
            <!-- Left Half -->
            <div class="col-md-6">
                <h2>Workers</h2>
                <p>Total: {{server.workers.length}}</p>
                <p>Time to get workers: {{server.stats.timeToGetWorkers}} ms</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>State</th>
                            <th>Last Check-in</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="worker in server.workers| orderBy:'Name'">
                            <td>{{worker.Name}}</td>
                            <td>{{worker.State}}</td>
                            <td>{{worker.LastCheckIn | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Right Half -->
            <div class="col-md-6">
                <h2>Work Units</h2>
                <p>Time to get work units: {{server.stats.timeToGetWorkUnitSummary}} ms</p>
                <a class="btn btn-default" href="" role="button" ng-click="server.addWork()">Add Work Units</a>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Total Work Units</td>
                            <td>{{server.workUnitSummary.WorkUnitCount}}</td>
                        </tr>
                        <tr>
                            <td>Total Incomplete Work Units</td>
                            <td>{{server.workUnitSummary.WorkUnitsIncomplete}}</td>
                        </tr>
                        <tr>
                            <td>In Progress</td>
                            <td>{{server.workUnitSummary.WorkUnitsInProgress}}</td>
                        </tr>
                        <tr>
                            <td>Done</td>
                            <td>{{server.workUnitSummary.WorkUnitsCompleted}}</td>
                        </tr>
                        <tr>
                            <td>Queue Length</td>
                            <td>{{server.workUnitSummary.WorkUnitQueueLength}}</td>
                        </tr>
                        <tr>
                            <td>Average work unit time to complete</td>
                            <td>{{server.workUnitSummary.AverageWorkUnitTimeToComplete}} ms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>